<table class="calculator">
  <tr>
      <td colspan="5">REvive Calculator</td>
  </tr>
  <tr>
      <td colspan="5" class="screen">
          <!-- show via the {{ }} angular template construct the contents of the screen -->
          <span class="digital">{{ getScreenOperand() }}</span>
          <span class="digital">88888888888</span>
          <span class="digital">!!!!!!!!!!!</span>
          <span class="marker" style="right: 30px;">DEG</span>
          <!-- the ngClass is setting the 'inactive' class when the memory variable is empty (undefined) -->
          <span class="marker" [ngClass]="{'inactive': !memory}" style="right: 4px;">MEM</span>
      </td>
  </tr>
  <tr class="memory">
      <td><a href="#">MR</a></td>
      <td><a href="#">MC</a></td>
      <td><a href="#">M+</a></td>
      <td><a href="#">M-</a></td>
      <td><a href="#">M=</a></td>
  </tr>
  <tr class="trig">
      <td><a href="#">inv</a></td>
      <td><a href="#">sin</a></td>
      <td><a href="#">cos</a></td>
      <td><a href="#">&radic;</a></td>
      <td><a href="#">rad</a></td>
  </tr>
  <tr>
      <td><a href="#" (click)="insertDigit(7)">7</a></td>
      <td><a href="#" (click)="insertDigit(8)">8</a></td>
      <td><a href="#" (click)="insertDigit(9)">9</a></td>
      <td><a href="#" (click)="operation('/')">&divide;</a></td>
      <td><a href="#">C</a></td>
  </tr>
  <tr>
      <td><a href="#" (click)="insertDigit(4)">4</a></td>
      <td><a href="#" (click)="insertDigit(5)">5</a></td>
      <td><a href="#" (click)="insertDigit(6)">6</a></td>
      <td><a href="#" (click)="operation('*')">&times;</a></td>
      <td><a href="#">&larr;</a></td>
  </tr>
  <tr>
      <td><a href="#" (click)="insertDigit(1)">1</a></td>
      <td><a href="#" (click)="insertDigit(2)">2</a></td>
      <td><a href="#" (click)="insertDigit(3)">3</a></td>
      <td><a href="#" (click)="operation('-')">-</a></td>
      <td rowspan="2"><a href="#" (click)="calculate()">=</a></td>
  </tr>
  <tr>
      <td><a href="#" (click)="insertDigit(0)">0</a></td>
      <td><a href="#" (click)="insertDot()">.</a></td>
      <td><a href="#">+/-</a></td>
      <td><a href="#" (click)="operation('+')">+</a></td>
  </tr>
</table>