:host {
    width: 230px;
}

/*DSEG 14 Modern*/
/* from https://www.keshikan.net/fonts-e.html */
@font-face {
    font-family: "D14MR";
    src: url("./DSEG14Modern-Regular.woff") format('woff');
}

td {
    padding: 0px;
    margin: 1px;
    background-color: rgb(240,240,240);
    width: 20%;
    height: 25px;
}

.digital {
    font-family: D14MR;
    font-size: 24px;
}

.memory, .trig {
    font-size: 10px;
}

td.screen {
    position: relative;
    padding: 12px 4px 4px 4px;
    background-color: palegreen;
}

.screen .marker {
    font-weight: bold;
    position: absolute;
    top: 2px;
    font-family: sans-serif;
    font-size: 8px;
    height: 0;
    display: inline-block;
}

.marker.inactive {
    color: rgba(0,0,0,0.2);
}

.screen .digital:first-child {
    position: absolute;
    z-index: 20;
}
.screen .digital:first-child + .digital {
    position: absolute;
    z-index: 10;
    color: rgba(0,0,0,0.1);
}

.screen .digital:last-child {
    visibility: hidden;
}

td a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    box-sizing: border-box;

    border-style: solid;
    border-width: 3px;
    border-top-color: rgba(255,255,255,0.25);
    border-left-color: rgba(255,255,255,0.25);
    border-bottom-color: rgba(0,0,0,0.25);
    border-right-color: rgba(0,0,0,0.25);
}

/* td[rowspan="2"] a {
    height: 200%;
} */

td a:active {
    color: inherit;
    border-bottom-color: rgba(255,255,255,0.25);
    border-right-color: rgba(255,255,255,0.25);
    border-top-color: rgba(0,0,0,0.25);
    border-left-color: rgba(0,0,0,0.25);
}

td a:hover {
    background-color: rgba(0,0,0,0.2);
}

.memory td {
    background-color: red;
}

.trig td {
    background-color: lightsteelblue;
}
.memory td a,
.trig td a {
    color: white;
}