<table class="chessboard">
    <tr>
        <th></th>
        <th>a</th>
        <th>b</th>
        <th>c</th>
        <th>d</th>
        <th>e</th>
        <th>f</th>
        <th>g</th>
        <th>h</th>
        <th></th>
    </tr>

    <!-- each row with squares (and not just labels like the one above)
         the tr tag is repeated -->
    <tr *ngFor="let row of chessBoard; let r = index">
        <!-- show the row number as expected by the chess -->
        <th>{{8-r}}</th>
        <!-- for each square/column of the row the td tag is repeated -->
        <td *ngFor="let square of row; let c = index"
            (click)="clickPosition(r,c)">
            <!-- in the a tag below we use chessBoard[r][c] but we could also use "square"
                 from the loop above to make it more readable -->
            <a
                *ngIf="chessBoard[r][c]"
                [ngClass]="chessBoard[r][c].getSide()?'whitePiece':'blackPiece'">
                {{chessBoard[r][c].getType()}}
            </a>
        </td>
        <!-- the row numbering on the other side -->
        <th>{{8-r}}</th>
    </tr>

    <tr>
        <th></th>
        <th>a</th>
        <th>b</th>
        <th>c</th>
        <th>d</th>
        <th>e</th>
        <th>f</th>
        <th>g</th>
        <th>h</th>
        <th></th>
    </tr>
</table>
